.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 95vh;
  width: 60%;
  margin: auto;
  padding: 2rem auto;
  line-height: 1.5;
  font-weight: 600;
}

.about h1 {
  margin: 4rem 0;
  border-bottom: 1px solid var(--primaryColor);
}
.about p {
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
}

.accent {
  color: var(--buttonOneColor);
}

.emphasis {
  font-weight: 900;
}

.about a {
  color: var(--primaryColor);
  transition: all 0.5s ease;
}

.about a:hover {
  text-decoration: none;
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
  font-weight: 900;
}

@media (max-width: 700px) {
  .about {
    padding: 0.5rem;
    width: 90%;
  }

  .about h1 {
    margin: 0;
    margin-bottom: 2rem;
  }

  .about a:hover {
    text-decoration: underline;
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
    font-weight: 400;
  }
}
