@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik&display=swap");

.greenButton {
  color: var(--green);
  border: 3px solid var(--green);
}

.blueButton {
  color: var(--blue);
  border: 3px solid var(--blue);
}

.whiteButton {
  color: var(--white);
  border: 3px solid var(--white);
}

.button {
  transition: all 0.5s ease;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--black);
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.button:hover {
  cursor: pointer;
}

.greenButton:hover {
  color: var(--black);
  background-color: var(--green);
}

.blueButton:hover {
  color: var(--black);
  background-color: var(--blue);
}

.whiteButton:hover {
  color: var(--black);
  background-color: var(--white);
}

.bigButton {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.smallButton {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.projectButton {
  background-color: var(--card-color);
}

@media (max-width: 700px) {
  .button:hover {
    transform: none;
  }
}
