@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik&display=swap");

.buttonOne {
  background-color: var(--buttonOneColor);
  border: none;
}

.buttonTwo {
  background-color: var(--buttonTwoColor);
  border: none;
}

.buttonThree {
  background-color: var(--primaryColor);
  border: none;
}

.button {
  transition: all 0.5s ease;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--backgroundColor);
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  cursor: pointer;
  transform: translate(10px, 0);
}

.bigButton {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.smallButton {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

@media (max-width: 700px) {
  .button:hover {
    transform: none;
  }
}
