.greenButton {
  background-color: var(--green);
}

.blueButton {
  background-color: var(--blue);
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  border: none;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  transform: translate(0, -0.5rem);
}
