.gridContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  max-width: 60%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-self: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 3rem;
  width: 80%;
  margin: auto;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.paragraph {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.buttonSection * {
  min-width: 200px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .buttonSection {
    margin: auto;
  }
}
