@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --backgroundColor: #ebebf3;
  --cardColor: #ebebf3;
  --primaryColor: #011627;
  --secondaryColor: #253b4d;
  --buttonOneColor: #e36f10;
  --buttonTwoColor: #08365c;
}

html {
  background-color: var(--backgroundColor);
}
