@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --black: #080707;
  --card-color: #0a0a0a;
  --white: #f2f2f2;
  --green: #00f260;
  --blue: #248ffa;
  --primaryColor: ;
  --secondaryColor: ;
  --cardColor: ;
  --buttonOneColor: ;
  --buttonTwoColor: ;
}

html {
  background-color: var(--black);
}
