.menu {
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  transform: translate(0, -20%);
}

.list li {
  margin-bottom: 2rem;
}

.list a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}
