.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--backgroundColor);
  letter-spacing: 0.1rem;
  z-index: 1;
}

.nav li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.nav a {
  text-decoration: none;
  color: var(--primaryColor);
}

.nav .active {
  color: var(--buttonOneColor);
  border-bottom: 5px solid var(--buttonOneColor);
}
