.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--black);
}

.nav li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.nav a {
  text-decoration: none;
  color: var(--white);
}

.nav .active {
  color: var(--blue);
  text-decoration: underline;
}
