.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--black);
  letter-spacing: 0.1rem;
  z-index: 1;
}

.nav li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  opacity: 0.6;
}

.nav .active {
  opacity: 1;
  color: var(--green);
  border-bottom: 5px solid var(--green);
}
