.container {
  margin: auto;
  max-width: 70%;
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 0;
}

.card {
  background-color: var(--cardColor);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  box-shadow: 5px 5px 5px 5px;
}

.buttonSection {
  display: flex;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--primaryColor);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.slider {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.counterContainer .arrow {
  font-size: 1rem;
  margin: 0 1rem;
}
.arrow {
  font-size: 3rem;
  opacity: 0.6;
  z-index: 0;
  transition: all 0.5s ease;
}

.arrow:hover {
  opacity: 1;
  cursor: pointer;
}
.description {
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
}

.techStack {
  font-family: "Nunito", sans-serif;
}
@media (max-width: 700px) {
  .container {
    max-width: 90%;
    padding-top: 0;
  }

  .arrow {
    opacity: 1;
  }

  .card {
    padding: 1rem 0.5rem;
  }
}
