.container {
  background-color: var(--light-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 2rem;
  border-radius: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonSection {
  display: flex;
  justify-content: space-evenly;
}

.title {
  text-align: center;
}
