.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  min-width: 1rem;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--primaryColor);
}

.iconFlex {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 1.5rem;
  margin: 1rem;
}

.icon a {
  color: var(--primaryColor);
  transition: all 0.5s ease;
  opacity: 0.7;
}

.icon:hover {
  cursor: pointer;
}

.icon:hover a {
  opacity: 1;
}

.hidden {
  display: none;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.nav li {
  font-size: 1.2rem;
  margin: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--primaryColor);
}

.nav .active {
  font-weight: 600;
}
